<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="https://jakarta.ee/xml/ns/jakartaee" xsi:schemaLocation="https://jakarta.ee/xml/ns/jakartaee https://jakarta.ee/xml/ns/jakartaee/web-app_6_0.xsd" version="6.0">
  <servlet>
    <description></description>
    <display-name>person</display-name>
    <servlet-name>person</servlet-name>
    <servlet-class>sunita.person</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>person</servlet-name>
    <url-pattern>/person</url-pattern>
  </servlet-mapping>
  <display-name>person</display-name>
  <welcome-file-list>
    <welcome-file>index.html</welcome-file>
    <welcome-file>index.htm</welcome-file>
    <welcome-file>index.jsp</welcome-file>
    <welcome-file>default.html</welcome-file>
    <welcome-file>default.htm</welcome-file>
    <welcome-file>default.jsp</welcome-file>
  </welcome-file-list>
  <servlet>
    <description></description>
    <display-name>Product</display-name>
    <servlet-name>Product</servlet-name>
    <servlet-class>controller.Product</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Product</servlet-name>
    <url-pattern>/Product</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>Manufacturer</display-name>
    <servlet-name>Manufacturer</servlet-name>
    <servlet-class>controller.Manufacturer</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Manufacturer</servlet-name>
    <url-pattern>/Manufacturer</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>EditManufacturerServlet</display-name>
    <servlet-name>EditManufacturerServlet</servlet-name>
    <servlet-class>controller.EditManufacturerServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>EditManufacturerServlet</servlet-name>
    <url-pattern>/EditManufacturerServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>DeleteRoleServlet</display-name>
    <servlet-name>DeleteRoleServlet</servlet-name>
    <servlet-class>controller.DeleteRoleServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>DeleteRoleServlet</servlet-name>
    <url-pattern>/DeleteRoleServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>DeleteManufacturerServlet</display-name>
    <servlet-name>DeleteManufacturerServlet</servlet-name>
    <servlet-class>controller.DeleteManufacturerServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>DeleteManufacturerServlet</servlet-name>
    <url-pattern>/DeleteManufacturerServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>EditProductServlet</display-name>
    <servlet-name>EditProductServlet</servlet-name>
    <servlet-class>controller.EditProductServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>EditProductServlet</servlet-name>
    <url-pattern>/EditProductServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>DeleteProductServlet</display-name>
    <servlet-name>DeleteProductServlet</servlet-name>
    <servlet-class>controller.DeleteProductServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>DeleteProductServlet</servlet-name>
    <url-pattern>/DeleteProductServlet</url-pattern>
  </servlet-mapping>
</web-app>